#** NIVELL I**
API_JASONHOLDER

Primer instal·lar la llibreria request, normalment està instal·lada. Sinó estigués instal·lada ==== !pip install requests

In [1]:
import requests

N1_EX1: Exploració bàsica amb una API de laboratori.
. Consulta l’API pública JSONPlaceholder utilitzant el mètode GET per obtenir:
Llista de publicacions (/posts)
Llista d’usuaris (/users)
Llista de tasques (/todos)

Farem tres peticions GET:
/posts → publicacions
/users → usuaris
/todos → tasques

In [2]:
#Obtenir la llista de publicacions des de l'API
url_posts = "https://jsonplaceholder.typicode.com/posts"
response_posts = requests.get(url_posts)

In [3]:
#Obtenir la llista d'usuris des de l'API
url_users = "https://jsonplaceholder.typicode.com/users"
response_users = requests.get(url_users)

In [4]:
#Obtenir la llista de tasques
url_todos = "https://jsonplaceholder.typicode.com/todos"
response_todos = requests.get(url_todos)

N1_EX2: 
Mostra per pantalla:
La quantitat total de cada recurs.
El codi d'estat de cada petició. (codi d'estat HTTP)

In [5]:
#Convertir la resposta en format JSON

posts = response_posts.json()
users = response_users.json()
todos = response_todos.json()

In [6]:
#Mostrar resultats 
print("POSTS")
print("Quantitat:", len(posts))
print("Codi d'estat:", response_posts.status_code)
print()

print("USERS")
print("Quantitat:", len(users))
print("Codi d'estat:", response_users.status_code)
print()

print("TODOS")
print("Quantitat:", len(todos))
print("Codi d'estat:", response_todos.status_code)

POSTS
Quantitat: 100
Codi d'estat: 200

USERS
Quantitat: 10
Codi d'estat: 200

TODOS
Quantitat: 200
Codi d'estat: 200

N1_EX3:  Petició a un recurs inexistent (404)
Fes una petició a una publicació inexistent per obtenir un error 404 i mostra el codi d'estat rebut.

In [8]:
# Petició que no existeix
url_post_inexistent = "https://jsonplaceholder.typicode.com/posts/9999"
response_404 = requests.get(url_post_inexistent)

In [10]:
# Marcar el codi d'estat
print("Codi d'estat:", response_404.status_code)

Codi d'estat: 404

N1_EX4: Fes una petició POST per crear una nova publicació fictícia. Inclou el títol, el cos del missatge i un userId.
Mostra la resposta JSON.
Mostra el codi d'estat.

In [11]:
#Petició POST (crear una publicació), creació de la publicació fictícia
nova_publicacio = {
    "title": "La meva primera publicació",
    "body": "Aquest és el contingut de prova",
    "userId": 1
}

In [12]:
# Enviar la petició POST

response_post = requests.post(
    "https://jsonplaceholder.typicode.com/posts",
    json=nova_publicacio
)

In [13]:
#Mostrar les dades obtingudes i el codi d'estat
print("Resposta JSON:")
print(response_post.json())
print()

print("Codi d'estat:")
print(response_post.status_code)

Resposta JSON:
{'title': 'La meva primera publicació', 'body': 'Aquest és el contingut de prova', 'userId': 1, 'id': 101}

Codi d'estat:
201

N1_EX5:
Fes una petició PATCH per modificar parcialment una publicació existent.
Mostra la resposta JSON.
Mostra el codi d'estat.

In [14]:
#Petició PATCH (modificació parcial),modificació del títol de la publicació amb ID 1, dades a modificar
dades_patch = {
    "title": "Títol modificat amb PATCH"
}

In [15]:
#Enviar la pertició PATCH
response_patch = requests.patch(
    "https://jsonplaceholder.typicode.com/posts/1",
    json=dades_patch
)

In [16]:
#mostrar la resposta del servidor
print("Resposta JSON:")
print(response_patch.json())
print()

print("Codi d'estat:")
print(response_patch.status_code)

Resposta JSON:
{'userId': 1, 'id': 1, 'title': 'Títol modificat amb PATCH', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}

Codi d'estat:
200

N1_EX6:
Fes una petició DELETE sobre una publicació.
Mostra la resposta JSON.
Mostra el codi d'estat.

In [17]:
#Eliminen lar una publicació amb ID 1
response_delete = requests.delete(
    "https://jsonplaceholder.typicode.com/posts/1"
)

In [18]:
#Mostrem el resultat de l'eliminació
print("Resposta JSON:")
print(response_delete.json())
print()

print("Codi d'estat:")
print(response_delete.status_code)

Resposta JSON:
{}

Codi d'estat:
200

#**NIVELL II**

N2_EX1: Explora el repositori de Public APIs i tria una API que permeti fer peticions GET.

Hem fet l'exploració i elegim ==== https://opendata.aemet.es/centrodedescargas/inicio

La API d’AEMET OpenData és una API REST que permet accedir a diferents conjunts de dades meteorològiques mitjançant peticions GET

Documentació de l’API AEMET OpenData.
**Endpoints principals**
Aquestes són algunes de les opcions més utilitzades:
Endpoint	Descripció
https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones ==== Retorna inventari de totes les estacions meteorològiques espanyoles.
https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones === Retorna dades dàiries de totes les estacions entr dues dates.
La resposta de l'API en retornarà un objecte JSON amb un camp datos, qué conté un URL on farem la segona petició per obtenir les dades reals.

In [2]:
import requests

API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjaWJlcnhhdDE5N0BnbWFpbC5jb20iLCJqdGkiOiI1NTdkNTY5NS03OGIxLTQ1N2QtODdkNy0xZjEwMDBkMTVhNGYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTc2OTA5OTgyNywidXNlcklkIjoiNTU3ZDU2OTUtNzhiMS00NTdkLTg3ZDctMWYxMDAwZDE1YTRmIiwicm9sZSI6IiJ9.IHpRLGf-rSjTQdPDEFWbP24t4CZlQHz5agq_OMHDu4Q"  
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones"

headers = {
    "api_key": API_KEY
}

# Fer la primera petició per obtenir la URL de dades
response = requests.get(url, headers=headers)

print("Codi d'estat:", response.status_code)

data = response.json()
print("Resposta parcial JSON:")
print(data)

Codi d'estat: 200
Resposta parcial JSON:
{'descripcion': 'exito', 'estado': 200, 'datos': 'https://opendata.aemet.es/opendata/sh/7150af82', 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [3]:
import requests
import pandas as pd

API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjaWJlcnhhdDE5N0BnbWFpbC5jb20iLCJqdGkiOiI1NTdkNTY5NS03OGIxLTQ1N2QtODdkNy0xZjEwMDBkMTVhNGYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTc2OTA5OTgyNywidXNlcklkIjoiNTU3ZDU2OTUtNzhiMS00NTdkLTg3ZDctMWYxMDAwZDE1YTRmIiwicm9sZSI6IiJ9.IHpRLGf-rSjTQdPDEFWbP24t4CZlQHz5agq_OMHDu4Q"  
base_url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones"
headers = {"api_key": API_KEY}

# Primera petició per agafar la URL de "datos"
resp = requests.get(base_url, headers=headers)
datos_url = resp.json().get("datos")

# Segona petició per obtenir dades JSON
resp2 = requests.get(datos_url)
estaciones = resp2.json()

# Convertir a DataFrame
df = pd.DataFrame(estaciones)

print(df.head())

   latitud      provincia altitud indicativo               nombre indsinop  \
0  394924N  ILLES BALEARS     490      B013X        ESCORCA, LLUC    08304
1  394744N       BALEARES       5      B051A       SÓLLER, PUERTO    08316
2  394121N  ILLES BALEARS      60      B087X          BANYALBUFAR
3  393446N       BALEARES      52      B103B   ANDRATX - SANT ELM
4  393305N       BALEARES      50      B158X  CALVIÀ, ES CAPDELLÀ

  longitud
0  025309E
1  024129E
2  023046E
3  022208E
4  022759E

EndPoint per les temperatures diaries

In [7]:
import requests
"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones"

'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones'

In [14]:
import requests

API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjaWJlcnhhdDE5N0BnbWFpbC5jb20iLCJqdGkiOiIxYjgzM2VjZC1kYWVjLTQxNmItYjE2MC00NDk0ZTkxYWY1OTAiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTc2OTEwMTIyOSwidXNlcklkIjoiMWI4MzNlY2QtZGFlYy00MTZiLWIxNjAtNDQ5NGU5MWFmNTkwIiwicm9sZSI6IiJ9.1IIwnNmB58WzUAoKarmKK1RA0DW1H1kGnixQ9XkgHt0"  

url = (
    "https://opendata.aemet.es/opendata/api/"
    "valores/climatologicos/diarios/datos/"
    "fechaini/2023-01-01T00:00:00UTC/"
    "fechafin/2023-01-07T00:00:00UTC/"
    "todasestaciones"
)

headers = {"api_key": API_KEY}

response = requests.get(url, headers=headers)

print("Codi d'estat:", response.status_code)
response.json()

Codi d'estat: 200

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/d1482d8b',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [ ]:
datos_url = response.json()["datos"]

response_datos = requests.get(datos_url)

print("Status dades:", response_datos.status_code)
print("Contingut inicial:", response_datos.text[:200])

if response_datos.status_code == 200 and response_datos.text.strip():
    datos_json = response_datos.json()
    print(datos_json[0])
else:
    print("No s'han pogut obtenir dades JSON")

Status dades: 200
Contingut inicial: [ {
  "fecha" : "2023-01-01",
  "indicativo" : "C453I",
  "nombre" : "CITFAGRO_88_GAITERO",
  "provincia" : "STA. CRUZ DE TENERIFE",
  "altitud" : "1744",
  "tmed" : "11,9",
  "prec" : "0,0",
  "tmin"
{'fecha': '2023-01-01', 'indicativo': 'C453I', 'nombre': 'CITFAGRO_88_GAITERO', 'provincia': 'STA. CRUZ DE TENERIFE', 'altitud': '1744', 'tmed': '11,9', 'prec': '0,0', 'tmin': '8,0', 'horatmin': 'Varias', 'tmax': '15,8', 'horatmax': '14:30', 'hrMax': '96', 'horaHrMax': 'Varias', 'hrMin': '64', 'horaHrMin': 'Varias'}

In [22]:
import pandas as pd

df = pd.DataFrame(datos_json)

for col in ["tmax", "tmin", "tmed"]:
    df[col] = df[col].str.replace(",", ".").astype(float)

df.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,hrMedia,dir,velmedia,racha,horaracha,presMax,horaPresMax,presMin,horaPresMin,sol
0,2023-01-01,C453I,CITFAGRO_88_GAITERO,STA. CRUZ DE TENERIFE,1744,11.9,"0,0",8.0,Varias,15.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01,7250C,ABANILLA,MURCIA,174,12.7,"0,0",4.6,03:55,20.8,...,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,14.6,"0,2",6.4,00:30,22.9,...,39,20,"3,1","7,5",11:30,"977,1",00,"973,4",Varias,NaN
3,2023-01-01,2885K,FRESNO DE SAYAGO,ZAMORA,804,10.8,"11,6",7.4,23:50,14.2,...,66,20,"8,9","18,9",11:40,NaN,NaN,NaN,NaN,NaN
4,2023-01-01,8492X,ATZENETA DEL MAESTRAT,CASTELLON,420,10.2,"0,0",2.3,07:16,18.2,...,62,13,"1,1","3,1",12:30,NaN,NaN,NaN,NaN,NaN

In [19]:
barcelona = [
    d for d in datos_json
    if d.get("provincia") == "BARCELONA"
]

print(barcelona[0])

{'fecha': '2023-01-01', 'indicativo': '0106X', 'nombre': 'BALSARENY', 'provincia': 'BARCELONA', 'altitud': '361', 'tmed': '8,2', 'prec': '0,0', 'tmin': '0,2', 'horatmin': '07:48', 'tmax': '16,2', 'horatmax': '15:27', 'dir': '34', 'velmedia': '1,1', 'racha': '4,2', 'horaracha': '18:40', 'hrMedia': '74', 'hrMax': '99', 'horaHrMax': 'Varias', 'hrMin': '48', 'horaHrMin': '13:30'}

In [20]:
barcelona = [
    d for d in datos_json
    if "BARCELONA" in d.get("nombre", "").upper()
]

print(barcelona[0])

{'fecha': '2023-01-01', 'indicativo': '0201X', 'nombre': 'BARCELONA, DRASSANES', 'provincia': 'BARCELONA', 'altitud': '11', 'tmed': '13,6', 'prec': '0,0', 'tmin': '11,0', 'horatmin': '03:53', 'tmax': '16,2', 'horatmax': '12:22', 'hrMedia': '79', 'hrMax': '89', 'horaHrMax': '19:50', 'hrMin': '71', 'horaHrMin': '06:30'}

In [21]:
import pandas as pd

df = pd.DataFrame(barcelona)

for col in ["tmax", "tmin", "tmed"]:
    df[col] = df[col].str.replace(",", ".").astype(float)

df.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,horaHrMin,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2023-01-01,0201X,"BARCELONA, DRASSANES",BARCELONA,11,13.6,"0,0",11.0,03:53,16.2,...,06:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01,0076,BARCELONA AEROPUERTO,BARCELONA,4,12.2,"0,0",8.6,07:22,15.9,...,10:35,36,"2,8","7,2",06:53,"0,7","1026,8",Varias,"1023,9",15
2,2023-01-01,0200E,"BARCELONA, FABRA",BARCELONA,408,13.0,"0,0",10.8,08:47,15.3,...,NaN,27,"2,2","6,9",00:05,"2,2","977,6",11,"975,7",Varias
3,2023-01-02,0201X,"BARCELONA, DRASSANES",BARCELONA,11,13.2,"0,2",10.4,05:58,15.9,...,05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-02,0076,BARCELONA AEROPUERTO,BARCELONA,4,11.0,"0,0",7.0,06:48,15.0,...,13:54,99,"3,3","8,3",Varias,"0,2","1026,3",Varias,"1022,8",05

#**NIVELL III**

In [ ]:
# Importar bibliotecas necesarias
import requests
import pandas as pd

In [18]:
url_package_search = "https://opendata-ajuntament.barcelona.cat/data/api/3/action/package_search"
params = {
    "q": "Barcelona"     # Cerca lliure
}
response_search = requests.get(url_package_search, params=params)
print("Codi d’estat:", response_search.status_code)

data_search = response_search.json()

Codi d’estat: 200

In [19]:
results = data_search["result"]["results"]

# Mostra els noms + IDs dels primers 5 datasets
for ds in results[:5]:
    print("Nom:", ds["title"])
    print("ID:", ds["id"])
    print("---")

Nom: Receipts and quota of the register of the Vados Tax of the Barcelona City Council
ID: 7e63eeb0-670a-4bcc-bee9-1d89697a4501
---
Nom: Receipts and charges from the motor vehicle tax roll of the Barcelona City Council
ID: e21b436f-7f84-4f7b-a3de-f7dc6b43264f
---
Nom: Immigrants
ID: 778e5885-5bdb-416e-adbd-854632381ad1
---
Nom: Emigrants
ID: 3d317361-0be9-4178-8566-4ff0b33d65a3
---
Nom: Cancellations for undue inscription
ID: 6b03a0f0-3900-4fe4-ada8-c9428e4751ed
---

In [20]:
dataset_id = results[0]["id"]  # o un altre id que triïs
url_package_show = "https://opendata-ajuntament.barcelona.cat/data/api/3/action/package_show"
response_show = requests.get(url_package_show, params={"id": dataset_id})

data_show = response_show.json()

In [21]:
resources = data_show["result"]["resources"]
for r in resources:
    print("Nom recurs:", r["name"])
    print("Format:", r["format"])
    print("Resource ID:", r["id"])
    print()

Nom recurs: 2025_rebuts_quota_guals_BCN.csv
Format: CSV
Resource ID: e35dce7d-96f6-4130-b794-42967da2cce5

Nom recurs: 2024_rebuts_quota_guals_BCN.csv
Format: CSV
Resource ID: 5f5e606d-4a38-4b4a-a16a-38e024e0b642

In [22]:
resource_id = resources[0]["id"]  # substitueix amb el recurs que triïs
url_datastore = "https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search"

params_datastore = {
    "resource_id": resource_id,
    "limit": 200,     # volem almenys 100 registres
}

response_datastore = requests.get(url_datastore, params=params_datastore)
print("Codi d’estat:", response_datastore.status_code)

data_records = response_datastore.json()

Codi d’estat: 200

In [23]:
records = data_records["result"]["records"]
df = pd.DataFrame(records)
df.head()

,Codi_Districte,Nom_Districte,Metres,Total_Rebuts,Categoria_Fiscal_Carrer,_id,Total_Quota
0,1,Ciutat Vella,Entre 10 i 20 m2,22,A,1,41109.22
1,1,Ciutat Vella,Entre 21 i 50 m2,14,A,2,52596.09
2,1,Ciutat Vella,Menys de 10 m2,..,A,3,18650.53
3,1,Ciutat Vella,Més de 50 m2,..,A,4,8896.07
4,1,Ciutat Vella,Entre 10 i 20 m2,28,B,5,33570.87

In [24]:
df.to_csv("dades_bcn_export.csv", index=False)
print("Fitxer CSV desat correctament!")

Fitxer CSV desat correctament!